<% provide(:title,"请输入手机型号") %>
<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<h1>CreditCards#open</h1>
<p>Find me in app/views/credit_cards/open.html.erb</p>
<h1><%= @current_time %></h1>
<h1>这是直接调用时间：<%= Time.new %></h1>